---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Medicare Project" sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Remote Medicare Specialist</div>
  </div>

  <div class="mb-10">
    <img src="/medicare.jpg" alt="Medicare" class="w-full rounded-xl shadow-2xl mb-6" />

    <div class="text-lg">
      <p class="mb-4">
        Managed 15+ daily virtual consultations and maintained 100% CMS compliance for senior health coverage.
      </p>

      <h3 class="text-2xl font-bold mb-2">Key Achievements</h3>
      <ul class="list-disc list-inside mb-4">
        <li>Conducted 15+ daily virtual consultations.</li>
        <li>Maintained 100% CMS compliance.</li>
        <li>Managed pipeline using Salesforce/HubSpot.</li>
      </ul>
    </div>
  </div>
</BaseLayout>
