---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Remote Medicare Specialist" sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Remote Medicare Specialist</div>
  </div>

  <div class="mb-10">
    <img src="/medicare.jpg" alt="Medicare" class="w-full rounded-xl shadow-2xl mb-6" />

    <div class="text-lg">
      <p class="mb-4">
        As a Remote Medicare Sales Agent, I specialized in navigating complex federal regulations to provide tailored healthcare solutions for seniors.
      </p>
      
      <h3 class="text-2xl font-bold mb-2">Key Achievements</h3>
      <ul class="list-disc list-inside mb-4">
        <li>Conducted 15+ daily virtual consultations.</li>
        <li>Maintained 100% CMS compliance.</li>
        <li>Leveraged Salesforce/HubSpot for lead tracking.</li>
      </ul>
    </div>
  </div>
</BaseLayout>
