---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
 <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Mobinu Shadhin</div>
    <div class="text-3xl py-3 font-bold">Future Clinician | Psychology at USF | Licensed Insurance Professional</div>
    <div class="py-2">
      <text class="text-lg">
        I am a Psychology student at the University of South Florida focused on the intersection of <b>behavioral science</b> and <b>clinical dental medicine</b>. My goal is to leverage an understanding of patient psychology to provide patient-centered care in a future dental practice.
        <br/><br/>
        Currently, I am a Licensed Health Insurance Agent, specializing in navigating regulatory frameworks and identifying coverage solutions. My background in high-volume consultations and community leadership has developed a disciplined approach to <b>clinical ethics</b> and <b>professional communication</b>.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:mobinushadhin@gmail.com" target="_blank"> Let's connect!</a>
      <a href="/cv" class="btn btn-outline ml-5">
        View My CV
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
