---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Mobinu Shadhin
  </div>
  <div class="inline opacity-75">
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Template by Manuel Ernesto</a>
  </div>
</footer>
<style>

</style>
