---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Projects</div>
  </div>

  <HorizontalCard
    title="Remote Medicare Specialist"
    img="/medicare.jpg"
    desc="Managed 15+ daily virtual consultations and maintained 100% CMS compliance."
    url="/projects/medicare"
    badge="Sales"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="ISPC Volunteer Lead"
    img="/ispc.jpg"
    desc="Led youth volunteer teams and coordinated logistics for 100+ daily attendees."
    url="/projects/ispc"
    badge="Volunteer"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Social Media Growth"
    img="/tiktok.jpg"
    desc="Strategies used to grow online presence and engagement."
    url="/projects/social-media"
    badge="Marketing"
  />
</BaseLayout>
