---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="ISPC Volunteer" sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">ISPC Volunteer Shift Lead</div>
  </div>
  <div class="mb-10">
    <div class="text-lg">
      <p class="mb-4">Lead youth volunteer teams during annual community services (Ramadan), coordinating food distribution and logistics for over 100 daily attendees.</p>
      <h3 class="text-2xl font-bold mb-2">Key Skills</h3>
      <ul class="list-disc list-inside mb-4">
        <li>Team Leadership</li>
        <li>Event Logistics</li>
        <li>Community Outreach</li>
      </ul>
    </div>
  </div>
</BaseLayout>
