---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Social Media Growth" sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Social Media Growth</div>
  </div>
  <div class="mb-10">
    <div class="text-lg">
      <p class="mb-4">Developed and executed strategies to increase engagement and follower growth across social platforms.</p>
    </div>
  </div>
</BaseLayout>
